.custom-menu-paper {
  margin: 0 10px !important;
}

.navbar-wrapper {
  display: flex;
  gap: 58px;
  justify-content: flex-end;
  width: 100%;
}

nav {
  align-items: center;
  background-color: #5c6bc0;
  display: flex;
  height: 96px;
  justify-content: space-between;
  left: 0;
  padding: 0 32px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  .header-list {
    align-items: center;
    display: flex;
    gap: 16px;
  }

  .header-link {
    color: #fefefe;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    position: relative;
    text-decoration: none;

    &.active::before {
      background-color: #f29e34;
      bottom: -10px;
      content: '';
      height: 4px;
      position: absolute;
      width: 100%;
    }
  }

  .nav-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .link:hover {
      color: #f29e34;
    }
  }

  .link {
    color: #ffffff;
    font-size: 1vw;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;
  }

  .notifications {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    .nav-icons-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .account.avatar {
      height: 50px;
      margin-left: 16px;
    }

    .account {
      color: #f5f5f5;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.8px;
      margin: 0px;
    }

    .drop-down {
      color: #f5f5f5;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 59px;
    }

    .avatar-default-picture {
      background-color: #ffa726;
      border-radius: 50%;
      cursor: default;
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: center;
      margin: 0;
      text-align: center;
      width: 50px;

      p {
        color: #1a237e;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
        text-align: center;
      }
    }

    .messages-icon {
      align-items: center;
      background-color: #ecebeb;
      border-radius: 50%;
      display: flex;
      justify-content: center;

      .chat-icon {
        cursor: pointer;
        padding: 13.5px;
      }

      &:hover {
        background-color: #d0d0d0;
      }
    }
  }

  .auth-btn {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  :is(.sign-up, .log-in) {
    align-items: center;
    border-radius: 4px;
    color: #1a237e;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    gap: 8px;
    height: 40px;
    justify-content: center;
    line-height: 20px; /* 142.857% */
    padding: 0px 24px;
    text-decoration: none;
  }
  .sign-up {
    background: #ffa726;
  }

  .log-in {
    background: #fff;
    border: 1px solid #5c6bc0;
  }
}
