.how-it-works {
    align-items: center;
    display: inline-flex;
    gap: 128px;
    justify-content: center;
    padding: 0px;
   
    .text-content {
     align-items: flex-start;
     display: flex;
     flex-direction: column;
     gap:32px;
      padding: 0px;

      .text-header {
        color:#212121;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; /* 122.222% */
      }

      .text-list {
        align-items: flex-start;
        color:#212121;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        gap: 24px;
        justify-content: center;
        line-height: 28px; /* 127.273% */
        max-width: 571px;
        padding: 0px;
        width: 100%;

        .text-list-item {
          align-items: center;
          display: flex;
          gap: 12px;
          justify-content: center;

          img {
            align-self: start;
          }

          &:last-child span {
            max-width: 529px;
            width: 100%;
          }
        }
      }
    }

   }