@import 'scss/variables';
@import 'scss/mixins';
@import 'UrlPage';
@import 'PresentationPage';
@import 'ConfirmationPage';
@import 'WhatsNextPage';

.project-completion {
  .page-container {
    @include container-properties(
      (
        height: 800px,
        width: 800px,
      )
    );
    @include flex(column);
    margin: 64px auto auto;
  }

  .url-input {
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
    }

    input {
      box-sizing: border-box;
      height: 40px;
      margin-top: 8px;
      padding: 8px 16px;
      width: 328px;
    }
  }

  .participation-radio {
    &.MuiRadio-root {
      color: black;
      padding-left: 15px;

      &.Mui-checked {
        color: #0d47a1;
      }

      .MuiSvgIcon-root {
        font-size: 16px;
      }
    }
  }

  .participation-helper-text {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: -5px 0px 0px 30px;
  }
}
