@import 'scss/variables';
@import 'scss/mixins';

.onboarding {
  .onboarding-page-container {
    align-items: center;
    border: 0 none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 64px auto auto;
    width: 800px;
  }

  .onboarding-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .onboarding-button-section {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
