.meeting-modal {
  .modal-dialog-content {
    overflow-x:hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
  .meeting-modal-icons {
    align-items: center;;
    background-color: white;
    display: flex;
    height: 44px;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    width: 95%;
    z-index: 2;
  }

  .back-arrow-icon {
    cursor: pointer;
  }
  .clear-icon {
    cursor: pointer;
  }

  .content-wrapper {
    display:grid;
    gap: 16px;
    margin-top: 20px;

    grid-template-areas: 
    "title title"
    "clockIcon dateFields"
    "peopleIcon selectAttendees"
    "divider divider"
    "meetIcon meetToggler"
    "descriptionIcon description";
    .title-input-label {
      font-size: 32px;
    }

    .title-field {
      grid-area:title;
      margin: 0;
      padding-left: 35px;
    }

    .MuiInputBase-root::after {
      border-bottom: 2px solid #0D47A1;
    }

    .required-span {
      font-size: 12px;
      font-style: italic;
      margin: 0;
    }

    .time-fields{
      display: flex;
      flex-direction: row;
    }

    .description-icon {
      grid-area: descriptionIcon;
      margin-top: 15px;
    }

    .description-field {

      grid-area: description
    }

    .css-l4u8b9-MuiInputBase-root-MuiInput-root:after {
      border-bottom: none;
    }
  }

  .people-icon {
    grid-area: peopleIcon;
    margin-top: 10px;
  }

  .meeting-modal-divider {
    background-color: #313335;
    grid-area: divider;
    height: 1px;
    position: relative;
    right: 24px;
    width: 120%;
  }

  .meeting-text-field {
    display: flex;
    flex-direction: row;
  }
  .google-meet-icon {
    grid-area: meetIcon;
    margin-top: 5px;
  }

  .google-meet-text {
    color:  #212121;
    font-size: 12px;
    margin: 0;
  }

  .google-meet-toggler {
    grid-area: meetToggler;
  }

  .css-1x51dt5-MuiInputBase-input-MuiInput-input {
    margin-top: 5px;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #0D47A1;
  }
}