.feedback-message {
  font-size: 38px;
  font-weight: 600;
  line-height: 53.2px;
  padding-top: 135px;
  position: absolute;
}

.password-modal {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 24px 32px;
  width: 345px;

  .close-modal-btn {
    cursor: pointer;
    left: 533px;
    position: relative;
    top: 213px;
  }

  .modal-content {
    align-items: flex-start;
    align-self: stretch;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    width: 380px;
  }

  .modal-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    padding: 0;
  }

  .modal-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    width: auto;
  }

  .email-input {
    background-color: #ffffff;
    border: 1px solid #212121;
    border-radius: 4px;
    font-size: 16px;
    height: 24px;
    padding: 8px 16px;
    width: 307px;
  }
}

.reset-btns {
  width: 390px;

  .cancel-reset {
    background: #fefefe;
    border: 1px solid #1a237e;
    border-radius: 4px;
    color: #1a237e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    padding: 0 16px;
  }

  .reset-password-btn {
    background: #ffa726;
    border: none;
    border-radius: 4px;
    color: #1a237e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    padding: 0 16px;
  }
}

#btn-container {
  padding-bottom: 24px;
}
