.max-users {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2, p {
      margin: 0;
      margin-bottom: 16px;
    }

    h2 {
      font-size: 36px;
      line-height: 44px;
      margin-top: 64px;
    }

    img {
      margin-bottom: 32px;
    }

    .header-text {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
    }

    .meantime {
      font-size: 16px; 
      font-weight: bold;
      line-height: 24px;
    }
  }
}