.MuiBox-root.css-1acyv19 {
  border-radius: 5px;
  max-width: 300px;
  padding: 25px;
  padding-top: 20px;
}

.discard-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
