@import 'scss/variables';
@import 'scss/mixins';

.acct-setup-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.form-container {
  column-gap: 192px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 48px;
  row-gap: 48px;
}

.profile-photo-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 272px;

  img {
    height: 272px;
    width: auto;
  }

  input,
  select {
    @include input-fields(4.8px 6.4px, 94%);
  }

  label {
    align-self: flex-start;
  }
}

.profile-photo {
  align-items: center;
  background-color: white;
  border: 3px groove rgb(207, 206, 202);
  border-radius: 50%;
  box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.7);
  display: flex;
  height: 272px;
  justify-content: center;
  margin-bottom: 32px;
  overflow: hidden;
  width: 272px;
}

.user-info-grid {
  border-radius: 2% / 1%;
  box-shadow: 0 8px 17px -6px rgba(0, 0, 0, 0.7);
  padding: 32px;
  width: 320px;

  button {
    @include form-buttons();
  }

  form {
    padding: 0 24px 16px 8px;
  }

  h2 {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
  }

  h4 {
    align-self: flex-start;
    text-align: left;
  }

  input {
    @include input-fields(4.8px 6.4px, 100%);
  }
}
