.photo-grid {
  align-content: center;
  background-color: white;
  border-radius: 50%;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    padding: 0;
    width: 100%;
  }

  &.large {
    height: 96px;
    width: 96px;
  }

  .left-column {
    grid-row: span 2;
  }

  &.medium {
    height: 40px;
    width: 40px;
  }

  .merged-grid {
    grid-row: span 2;
  }

  .right-column {
    grid-row: span 2;
  }

  &.small {
    height: 40px;
    width: 40px;
  }

  &.x-small {
    height: 32px;
    width: 32px;
  }
}
