.common-modal {
  &.main {
    align-items: center;
    display: flex;
    font-family: 'Roboto' sans-serif;
    justify-content: center;
  }

  &.container {
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 3px rgba(26, 35, 126, 0.15),
      0px 1px 3px 0px rgba(26, 35, 126, 0.3);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 32px;
  }

  &.contents {
    align-items: end;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &.heading,
  &.body,
  .input-container,
  &.input,
  &.input-error,
  &.error-message {
    width: 100%;
    max-width: 360px;
  }

  &.heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  &.body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &.input,
  &.input-error {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
  }

  &.input {
    outline: 1px solid #212121;
  }

  &.input:focus-visible {
    border: none;
    outline: 2px solid #0d47a1;
    outline-offset: -1px;
  }

  &.input-error {
    outline: 1px solid #b71c1c;
  }

  &.input-error:focus-visible {
    border: none;
    outline: 2px solid #b71c1c;
    outline-offset: -1px;
  }

  &.error-message {
    color: #b71c1c;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 0px 16px;
    margin-bottom: -20px;
  }

  &.buttons {
    column-gap: 8px;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

    .cancel,
    .confirm {
      height: 40px;
      text-transform: unset !important;
    }

    .cancel {
      color: #1a237e;
      padding: 0px 12px;

      &:hover {
        background: #00000014;
      }

      &:active {
        background: #0000001f;
      }
    }

    .confirm {
      font-weight: 500;
      padding: 0px 24px;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
